{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>top_page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.5.4/vegas.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="home">

<!--スライドショー-->
<div id="mainimg"></div>

<!--スクロールを促すアイコン-->
<div class="scroll"><img src="{% static 'img/arrow1.gif' %}" alt=""></div>

<header>
<h1 id="logo"><a href="index.html"><img src="{% static 'img/logo.png' %}" alt="Sample Cafe"></a></h1>
</header>

<div id="container">

<main>

<section>

<h2>Read Me<span>初めに</span></h2>

<h3>サバゲーとは</h3>
<p>サバゲーとはサバイバルゲームの略です。80年代頃、当時のアメリカで流行していたペイントボールゲームを日本でも楽しめないかと言う事で、おもちゃのエアソフトガンを代用して行われたのは始まりです。最近では若い人だけではなく、大人もはまっている人が多いです。特に非日常的な体験をできる所が良く、ストレスなども発散しやすいスポーツです。</p>

<h3>当サイトでは...</h3>
<p>当サイトでは何を買って良いかわからないという初心者に向けて、サバゲーをする上で絶対に必要だったり、あると便利な装備品を紹介しています。<br>また、このページでは値段、使いやすさ、人気などの観点から、サバゲー未経験者や初心者にもお勧めできる銃を紹介しています。
</p>
 
</section>
<!--以下商品紹介-->
<section>

<h2>Product<span>商品紹介</span></h2>

<div class="list2">
<figure class="up">
<a href="https://www.tokyo-marui.co.jp/products/gas/blowbackauto/244">
    <img src="{% static 'img/glock.png' %}">
    <figcaption>東京マルイ　グロック18c</figcaption>
</a>
</figure>
<div class="text">
<h4>東京マルイ　グロック18c</h4>
<ul class="pass">
    <a href='https://www.amazon.co.jp/dp/B003U3QH5Q'>
        <div class="box">
            <li>Amazon</li>
        </div>
    </a>
    <a href="https://item.rakuten.co.jp/airgunparts/tm_gbb_g18c/?iasid=07rpp_10095___e5-kzew6ekw-3f-ea1b599d-e016-43a7-8ad6-7c5868bda05e">
        <div class="box">
            <li>楽天市場</li>
        </div>
    </a>
    <a href="https://www.first-jp.com/items/03/01/01/detail.php?itemcode=0301TMJ00038">
        <div class="box">
            <li>First</li>
        </div>
    </a>
    <div class="background center">
    <p class="supplement">ボタンをクリックすると商品ページに飛びます</p>
    </div>
</ul>
</div>
</div>
<div class="Explanation">
    <p class="Explanation2">全　長　186mm<br>重　量　698g<br>装弾数　25 + 1 発（1発は本体に装填した場合)</p>
    <p class="Explanation3">グロック18C専用に開発されたブローバックエンジンが搭載されているため、リコイル(反動)UPとハイスピードで安定した作動が実現れています。また、改造パーツや拡張キットも多数販売されているため、初心者でも自分好みに改造しやすく、扱いやすい銃となっています。
    </p>
</div>

<div class="list2">
<figure class="up">
<a href="https://www.guay2.com/ja/product/detail-1785">
    <img src="{% static 'img/cm16.png' %}">
    <figcaption>G&G ARMAMENT CM16 Raider L 2.0E</figcaption>
</a>
</figure>
<div class="text">
<h4>G&G CM16 Raider L 2.0E</h4>
<ul class="pass">
    <a href='https://www.amazon.co.jp/ARMAMENT-CM16-Raider-EGC-16P-R2E-BNB-NCS-18才以上/dp/B077LF5TJF'>
        <div class="box">
            <li>Amazon</li>
        </div>
    </a>
    <a href="https://item.rakuten.co.jp/mokei-paddock/600886/">
        <div class="box">
            <li>楽天市場</li>
        </div>
    </a>
    <a href="https://www.41military.com/shopdetail/000000001200/">
        <div class="box">
            <li>41MILITARY</li>
        </div>
    </a>
</ul>
</div>
</div>
<div class="Explanation">
    <p class="Explanation2">全　長　750mm<br>重　量　2300g<br>装弾数　450発</p>
    <p class="Explanation3">この銃にはG&Gオリジナルの電子トリガーが搭載されているため、同じ価格帯の電動ガンに比べ、射撃時のキレが格段に良くなっています。<br>また、20mmマウントレールと、14mm逆ネジが標準装備されているので、後からサイトやサプレッサーをつけたいとなってもアタッチメント本体を買うだけで良くなっています。<br>本体に付属しているマガジンが450連の多段マガジンになっているため、予備のマガジンを買わなくても初心者にありがちな無駄撃ちによる弾切れも起こりにくくなっています。</p>
</div>

<div class="list2">
<figure class="up">
<a href="https://www.tokyo-marui.co.jp/products/gas/slide/67">
    <img src="{% static 'img/mk23.jpeg' %}" >
    <figcaption>東京マルイ No.13 SOCOM Mk23</figcaption>
</a>
</figure>
<div class="text">
<h4>東京マルイ No.13 SOCOM Mk23</h4>
<ul class="pass">
    <a href='https://www.amazon.co.jp/dp/B000BV4LWG'>
        <div class="box">
            <li>Amazon</li>
        </div>
    </a>
    <a href="https://item.rakuten.co.jp/star-shop/tmggk01/">
        <div class="box">
            <li>楽天市場</li>
        </div>
    </a>
    <a href="https://www.first-jp.com/items/03/02/01/detail.php?itemcode=0302TMJ00005">
        <div class="box">
            <li>First</li>
        </div>
    </a>
</ul>
</div>
</div>
<div class="Explanation">
    <p class="Explanation2">全　長　245 mm / 427 mm（サイレンサー装着時)<br>重　量　850 g（空マガジン含む）/ 1,200 g（フル装備時）<br>装弾数　	28 + 1 発（1発は本体に装填した場合）</p>
    <p class="Explanation3">ファンの中では伝説の名銃と呼ばれるソーコム マーク23の初期型を、サプレッサーやL.A.M.（ライト・アタッチメント・モジュール）とともにガスガンのフルセットとしてラインナップ。これら全てをハードコンテナ・ガンケースに収納し、精鋭達に納品される姿をイメージしたスペシャルなセットとなっています。<br>また、この銃は固定スライド式で作動音がとても小さいので、付属のサプレッサーを付けるだけで誰でも簡単に熟練者顔負けの隠密行動が取れるようなります。</p>
</div>

<div class="list2">
<figure class="up">
<a href="https://www.tokyo-marui.co.jp/products/aircocking/shotgun/79">
    <img src="{% static 'img/spas12.jpeg' %}">
    <figcaption>東京マルイ No.1 SPAS12</figcaption>
</a>
</figure>
<div class="text">
<h4>東京マルイ No.1 SPAS12</h4>
<ul class="pass">
    <a href='https://www.amazon.co.jp/東京マルイ-TOKYO-MARUI-SPAS12-18歳以上エアーショットガン/dp/B000BUZWXE'>
        <div class="box">
            <li>Amazon</li>
        </div>
    </a>
    <a href="https://item.rakuten.co.jp/star-shop/tmag06/">
        <div class="box">
            <li>楽天市場</li>
        </div>
    </a>
    <a href="https://www.first-jp.com/items/05/01/03/detail.php?itemcode=0501TMJ00002">
        <div class="box">
            <li>First</li>
        </div>
    </a>
</ul>
</div>
</div>
<div class="Explanation">
    <p class="Explanation2">全　長　800 mm<br>重　量　2,000 g （空のショットシェルマガジンを装着した場合<br>装弾数　30 発（3発×10ショット）</p>
    <p class="Explanation3">東京マルイのエアーショットガン・スパス12は、本物のスタイルを再現することはもちろん、サバイバルゲームやシューティングゲームにおける実用性を追求したモデルです。<br>フォアエンドを引いてコッキングするショットガン独特の操作を再現し、アウターバレルには3本のインナーバレルを内蔵。1度の発射でホップをかけながら3発のBB弾を発射します。<br>トリガーを引きながらフォアエンドをコッキングすることで連続して発射できるラピッドファイアシステムを搭載。エアコッキングガンながら次弾を素早く発射することができます。</p>
</div>

<div class="list2">
<figure class="up">
<a href="https://www.tokyo-marui.co.jp/products/aircocking/boltaction/275">
    <img src="{% static 'img/vsr-10.jpeg' %}">
    <figcaption>東京マルイ No2 VSR-10 プロスナイパーバージョン</figcaption>
</a>
</figure>
<div class="text">
<h4>東京マルイ No2 VSR-10<br>プロスナイパーバージョン</h4>
<ul class="pass">
    <a href='https://www.amazon.co.jp/%E6%9D%B1%E4%BA%AC%E3%83%9E%E3%83%AB%E3%82%A4-No-1-%E3%83%8F%E3%82%A4%E3%82%AD%E3%83%A3%E3%83%915-1R-%E3%83%96%E3%83%A9%E3%83%83%E3%82%AF%E3%83%A2%E3%83%87%E3%83%AB-14%E6%AD%B3%E4%BB%A5%E4%B8%8A%E6%8E%A8%E5%A5%A8%E3%82%AC%E3%82%B9%E3%83%96%E3%83%AD%E3%83%BC%E3%83%90%E3%83%83%E3%82%AF/dp/B0025KVAU2'>
        <div class="box">
            <li>Amazon</li>
        </div>
    </a>
    <a href="https://item.rakuten.co.jp/mokei-paddock/100943/">
        <div class="box">
            <li>楽天市場</li>
        </div>
    </a>
    <a href="https://www.first-jp.com/items/03/01/01/detail.php?itemcode=0301TMJ00023">
        <div class="box">
            <li>First</li>
        </div>
    </a>
</ul>
</div>
</div>
<div class="Explanation_rust">
    <p class="Explanation2">全　長　1,075 mm<br>重　量　1,923 g（空マガジン含む）<br>装弾数　30 発</p>
    <p class="Explanation3">ボルトを引いて戻すことで次弾を装填。一連の動作からスナイパーの緊迫感や臨場感を感じることができます。また、シリンダーサポートリングが採用されているので、かつてない軽快・スムーズな操作が可能になっています。作動音と発射時のブレが極限までおさえられているので、サバイバルゲームでの実用性も抜群です。<br>14mm逆ネジ仕様のマズルアクセサリーを装着可能にするマズルアダプターや、スコープなどの搭載が可能なマウントベース、そして射撃姿勢を安定させるバイポッドなど、様々なオプションパーツが販売されているので、初心者でも容易にカスタムを楽しめます。</p>
</div>
<div>
    <h4 class=postscript></h4>
</div>

<div class="list2">
<figure class="up">
<a href="https://www.tokyo-marui.co.jp/products/aircocking/boltaction/275">
    <img src="{% static 'img/hicapa.jpeg' %}">
    <figcaption>東京マルイ　ハイキャパ5.1R</figcaption>
</a>
</figure>
<div class="text">
<h4>東京マルイ　ハイキャパ5.1R</h4>
<ul class="pass">
    <a href='https://www.amazon.co.jp/東京マルイ-No-2-VSR-10-プロスナイパーバージョン-18歳以上ボルトアクションエアーライフル/dp/B000BV1RFU?th=1'>
        <div class="box">
            <li>Amazon</li>
        </div>
    </a>
    <a href="https://item.rakuten.co.jp/evohobby/4952839135025/?iasid=07rpp_10095___en-kzf7ja9u-3e-9cbd1187-8046-478e-8a4a-385fb6ab67c1">
        <div class="box">
            <li>楽天市場</li>
        </div>
    </a>
    <a href="https://www.first-jp.com/items/02/03/02/">
        <div class="box">
            <li>First</li>
        </div>
    </a>
</ul>
</div>
</div>
<div class="Explanation_rust">
    <p class="Explanation2">全　長　222 mm<br>重　量　865 g（空のマガジンを装着した場合）<br>装填数　31 + 1 発（1発は本体に装填した場合）</p>
    <p class="Explanation3">この銃はコンバット/スポーツ・シューティングの最新コンセプトにもとづいてデザインされたハイキャパ5.1が、17才以下も購入可能なガスブローバックRシリーズとなってモデルアップされた物です。18才以上用レベルの強力な反動はそのままに、高い命中精度と“青少年育成条例”をクリアした「0.135J以下の発射パワー」が実現されています。</p>
</div>
<div>
    <h4 class=postscript></h4>

</div>

</section>

<section>

<h2>What's New<span>お知らせ</span></h2>

<dl id="new">
<dt>2021/12/02</dt>
<dd>tp_cafe17配布開始。</dd>
<dt>20XX/00/00</dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
<dt>20XX/00/00</dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
<dt>20XX/00/00</dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
<dt>20XX/00/00</dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
</dl>

</section>

</main>

<footer>
<ul class="icon">
<li><a href="#"><img src="{% static 'img/icon_facebook.png' %}" alt="Facebook"></a></li>
<li><a href="#"><img src="{% static 'img/icon_twitter.png' %}" alt="Twitter"></a></li>
<li><a href="#"><img src="{% static 'img/icon_instagram.png' %}" alt="Instagram"></a></li>
<li><a href="#"><img src="{% static 'img/icon_youtube.png' %}" alt="YouTube"></a></li>
<li><a href="#"><img src="{% static 'img/icon_line.png' %}" alt="LINE"></a></li>
</ul>
<small>Copyright&copy; <a href="index.html">Sample Cafe</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#container-->

<!--メインメニュー-->
<nav id="menubar">
<ul>
<li><a href="{% url 'restaurant:index' %}">Gun<span>おすすめの銃</span></a></li>
<li><a href="{% url 'restaurant:index2' %}">Equipment<span>おすすめの装備品</span></a></li>
<li><a href="{% url 'restaurant:access' %}">Message board<span>掲示板</span></a></li>
<li><a href="url 'access.html'">Access<span>アクセス</span></a></li>
</ul>
</nav>

<!--アニメーションロゴ-->
<img id="svg-logo" src="{% static 'img/logo1.png' %}">


<!--jQueryファイルの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--スライドショー（vegas）-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.5.4/vegas.min.js"></script>
<script src="{% static 'js/vegas.js' %}"></script>

<!--スライドショー（slick）-->
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'js/slick.js' %}"></script>

<!--パララックス（inview）-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
<script src="{% static 'js/jquery.inview_set.js' %}"></script>

<!--メニュー開閉用のスクリプト-->
<div id="menubar_hdr"></div>
<script src="{% static 'js/openclose_tp.js' %}"></script>

<!--ページの上部へ戻るボタン-->
<p class="pagetop"><a href="#">↑</a></p>
<!-- ロゴアニメーション（vivus） -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.6/vivus.min.js"></script>
<script>
new Vivus('svg-logo', {
start:'autostart',
type: 'scenario-sync',
duration: 100,
forceRender: false,
});
</script>

</body>
</html>



<!--　　　　  ／⌒ヽ
  ⊂二二二二（　＾ω＾）二二二二⊃
　　　　　　|　　　 / 　　　　　　ﾌﾞｰﾝ
　　 　　　 （　ヽノ
　　　　　　 ﾉ>ノ
　 三三　 　レﾚ               -->