{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>top_page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.5.4/vegas.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="home">

<!--スライドショー-->
<div id="mainimg"></div>

<!--スクロールを促すアイコン-->
<div class="scroll"><img src="{% static 'img/arrow1.gif' %}" alt=""></div>

<header>
<h1 id="logo"><a href="index.html"><img src="{% static 'img/logo.png' %}" alt="Sample Cafe"></a></h1>
</header>

<div id="container">

<main>

<section>

<h2>Read Me<span>初めに</span></h2>

<h3>サバゲーに必要なものとは</h3>
<p>サバゲーをする上で必要な物は、銃、防具、弾、バッテリー（ガス）、ガンケース etc... 上記の通り沢山あります。また、サバゲーにハマればハマる程必要なもの、欲しいものが増えていきます。ですが初心者にはどのメーカーの何を買ったら良いかわからないという人も多いと思います。<br>なのでこのページでは銃以外の必需品と、あると便利な装備や小物を5点紹介します。</p>

<h3></h3>
<p>こちらをご覧下さい</p>
 
</section>
<!--以下商品紹介-->
<section>

<h2>Product<span>商品紹介</span></h2>

<div class="list2">
<figure class="up">
<a href="https://www.google.com/search?q=Sutekus+%E3%83%80%E3%83%96%E3%83%AB%E3%82%AC%E3%83%B3%E3%82%B1%E3%83%BC%E3%82%B9&oq=Sutekus+%E3%83%80%E3%83%96%E3%83%AB%E3%82%AC%E3%83%B3%E3%82%B1%E3%83%BC%E3%82%B9&aqs=chrome..69i57.423j0j9&sourceid=chrome&ie=UTF-8">
    <img src="{% static 'img/glock.png' %}">
    <figcaption>Sutekus ダブルガンケース</figcaption>
</a>
</figure>
<div class="text">
<h4>Sutekus ダブルガンケース</h4>
<ul class="pass">
    <a href='https://www.amazon.co.jp/dp/B086866RLJ'>
        <div class="box">
            <li>Amazon</li>
        </div>
    </a>
    <a href="https://search.rakuten.co.jp/search/mall/Sutekus+ダブル+ガンケース/">
        <div class="box">
            <li>楽天市場</li>
        </div>
    </a>
    <a href="https://shopping.yahoo.co.jp/search?p=Sutekus%20ダブル%20ガンケース">
        <div class="box">
            <li>Yahoo!</li>
        </div>
    </a>
    <div class="background center">
    <p class="supplement">ボタンをクリックすると商品ページに飛びます</p>
    </div>
</ul>
</div>
</div>
<div class="Explanation">
    <p class="Explanation2">サイズ 105cm×34cm</p>
    <p class="Explanation3">ガンケースはエアガンを持ち運ぶ上でとても大事な物です。一歩間違えれば凶器になってしまったり、他人を怖がらせたりしてしまうからです。このガンケースはメインウエポンスペースには最大125cmまで、サブウエポンスペースには63cmまでの銃が収納できます。また、大小５ヶ所のポーチにバッテリーやマガジンなどを収納できるため装備にこだわらないのであればこのガンケース一つでサバゲーの必需品は十分収納できます。良くも悪くもコンパクトなので、スナイパーライフルのような長い物を使いたい場合は<a href="https://www.amazon.co.jp/dp/B071HTSR17/ref=sspa_dk_detail_2?psc=1&pd_rd_i=B071HTSR17&pd_rd_w=ihiD4&pf_rd_p=0a3391fe-e127-45bc-a728-7c0df531bf8a&pd_rd_wg=ml132&pf_rd_r=F7DGJ1D895JM4EH1YAF2&pd_rd_r=9868ac62-9cf4-4b1e-ade0-778c4c168723&s=sports&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFNMzlLSDJVSU5CV1ImZW5jcnlwdGVkSWQ9QTAyMzEzMjNKQTNZREJZOEFOTVImZW5jcnlwdGVkQWRJZD1BMVpPOVBJNUFYRDJKMSZ3aWRnZXROYW1lPXNwX2RldGFpbF90aGVtYXRpYyZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">こちら</a>のような別のガンケースを買う必要があります</p>
</div>

<div class="list2">
<figure class="up">
<a href="https://www.google.com/search?q=%E6%9D%B1%E4%BA%AC%E3%83%9E%E3%83%AB%E3%82%A4+%E3%83%97%E3%83%AD%E3%82%B4%E3%83%BC%E3%82%B0%E3%83%AB%2F%E3%83%95%E3%83%AB%E3%83%95%E3%82%A7%E3%82%A4%E3%82%B9&ei=_8YeYsvzGKnhwAPxlb3YDw&ved=0ahUKEwiL79r_oab2AhWpMHAKHfFKD_sQ4dUDCA4&uact=5&oq=%E6%9D%B1%E4%BA%AC%E3%83%9E%E3%83%AB%E3%82%A4+%E3%83%97%E3%83%AD%E3%82%B4%E3%83%BC%E3%82%B0%E3%83%AB%2F%E3%83%95%E3%83%AB%E3%83%95%E3%82%A7%E3%82%A4%E3%82%B9&gs_lcp=Cgdnd3Mtd2l6EAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsANKBAhBGABKBAhGGABQAFgAYMYEaAFwAXgAgAEAiAEAkgEAmAEAyAEKwAEB&sclient=gws-wiz">
    <img src="{% static 'img/cm16.png' %}">
    <figcaption>東京マルイ プロゴーグル/フルフェイス</figcaption>
</a>
</figure>
<div class="text">
<h4>東京マルイ プロゴーグル/フルフェイス</h4>
<ul class="pass">
    <a href='https://www.amazon.co.jp/dp/B001VZNAPK?tag=s02a3-22'>
        <div class="box">
            <li>Amazon</li>
        </div>
    </a>
    <a href="https://product.rakuten.co.jp/product/-/c243ce654be0b8a378ba9e1a30fdb093/?scid=af_pc_etc&sc2id=af_117_1_10001720">
        <div class="box">
            <li>楽天市場</li>
        </div>
    </a>
    <a href="https://store.shopping.yahoo.co.jp/lifeplus-y/20210920092224-00417.html?sc_e=aduc_gssc_shp_02505&gclid=CjwKCAiA9tyQBhAIEiwA6tdCrO8MgBaIOdXQE2tgc65K6oguNNpr3xUQOtjHNbA-YDGxjxxJR1mieRoC5mIQAvD_BwE">
        <div class="box">
            <li>Yahoo!</li>
        </div>
    </a>
</ul>
</div>
</div>
<div class="Explanation">
    <p class="Explanation2"></p>
    <p class="Explanation3">顔全体を保護できるフルフェイス仕様で、サバゲー初心者にもおすすめのフェイスマスクです。ゴーグルには広角ワイドレンズを採用しているため、広い視野を確保できるうえに眼鏡をかけたままでも着用できます。また、ゴーグルは防曇加工が施されているほか、電動ファン付きなのも特徴。Low・Highの2モードを切り替えながら通気性を確保でき、レンズの曇りをしっかりと防ぎます。さらに「UV400コーティングレンズ」仕様で夏場の強い紫外線もカット可能です。そのほか、口元はメッシュ仕様なので、激しく動いても呼吸がしやすいのもメリット。本体カラーは、ブラック・コヨーテブラウン・レンジャーグリーンの3色を展開しています。</p>
</div>

<div class="list2">
<figure class="up">
<a href="https://www.google.com/search?q=Ventlax+%E3%82%B5%E3%83%90%E3%82%A4%E3%83%90%E3%83%AB+%E3%82%BF%E3%82%AF%E3%83%86%E3%82%A3%E3%82%AB%E3%83%AB+%E3%82%B0%E3%83%AD%E3%83%BC%E3%83%96&oq=Ventlax+%E3%82%B5%E3%83%90%E3%82%A4%E3%83%90%E3%83%AB+%E3%82%BF%E3%82%AF%E3%83%86%E3%82%A3%E3%82%AB%E3%83%AB+%E3%82%B0%E3%83%AD%E3%83%BC%E3%83%96&aqs=chrome..69i57.668j0j9&sourceid=chrome&ie=UTF-8">
    <img src="{% static 'img/mk23.jpeg' %}" >
    <figcaption>Ventlax サバイバル タクティカル グローブ</figcaption>
</a>
</figure>
<div class="text">
<h4>Ventlax サバイバル タクティカル グローブ</h4>
<ul class="pass">
    <a href='https://www.amazon.co.jp/dp/B01H7920JA?tag=s02a3-22'>
        <div class="box">
            <li>Amazon</li>
        </div>
    </a>
    <a href="https://item.rakuten.co.jp/star-shop/tmggk01/">
        <div class="box">
            <li>楽天市場</li>
        </div>
    </a>
    <a href="https://store.shopping.yahoo.co.jp/smallriver1965/202111140035082264357519.html?sc_e=slga_pla_i_shp_10002&gclid=CjwKCAiA9tyQBhAIEiwA6tdCrCAZe9MisnqEIzKyXrMDvhQEL5kOwOUwX-a403VQAA0Za_po3vN9LxoC2KcQAvD_BwE">
        <div class="box">
            <li>Yahoo!</li>
        </div>
    </a>
</ul>
</div>
</div>
<div class="Explanation">
    <p class="Explanation2"></p>
    <p class="Explanation3">実用性もデザイン性も追求された、フルフィンガー仕様のグローブです。生地には、フィット感の高いマイクロファイバーを使用。手首や指側面には伸縮性のある素材を用いることで、高い操作性を実現しています。また、拳部分にはカーボンファイバー製のナックルガードを採用。至近距離からの被弾でも、衝撃や痛みを軽減できます。さらに、手のひら部分にはPUレザー製の滑り止めグリップを設けており、武器をしっかりとホールドできるのも魅力です。そのほか、各指には汗や蒸れを逃す「マイクロベンチレーション」が配置されているため、装着感も快適。米軍特殊部隊のグローブをベースにしたデザイン・設計で、サバゲーの臨場感を高められるおすすめの装備です。</p>
</div>

<div class="list2">
<figure class="up">
<a href="https://www.google.com/search?q=%E6%9D%B1%E4%BA%AC%E3%83%9E%E3%83%AB%E3%82%A4+No.127+BB%E3%83%AD%E3%83%BC%E3%83%80%E3%83%BCXL&oq=%E6%9D%B1%E4%BA%AC%E3%83%9E%E3%83%AB%E3%82%A4+No.127+BB%E3%83%AD%E3%83%BC%E3%83%80%E3%83%BCXL&aqs=chrome..69i57.544j0j9&sourceid=chrome&ie=UTF-8">
    <img src="{% static 'img/spas12.jpeg' %}">
    <figcaption>東京マルイ No.127 BBローダーXL</figcaption>
</a>
</figure>
<div class="text">
<h4>東京マルイ No.127 BBローダーXL</h4>
<ul class="pass">
    <a href='https://www.amazon.co.jp/dp/B000FI3ODC/?tag=sabage05-22'>
        <div class="box">
            <li>Amazon</li>
            </div>
    </a>
    <a href="https://item.rakuten.co.jp/stargate130/4952839178275/">
        <div class="box">
            <li>楽天市場</li>
        </div>
    </a>
    <a href="https://paypaymall.yahoo.co.jp/store/first-jp/item/4952839178275/?sc_e=afvc_shp_3562997">
        <div class="box">
            <li>Yahoo!</li>
        </div>
    </a>
</ul>
</div>
</div>
<div class="Explanation">
    <p class="Explanation2"></p>
    <p class="Explanation3">蓋を開けて弾を流し込む多弾マガジンと違い、スプリング式のマガジンに1発ずつ弾を入れるのは大変です。そこで、BBローダーを使えば素早く簡単に弾を装填できます。<br>BBローダーは便利ですが、小さい方を買うと何回も弾補充をしなくてはならないので、XLサイズを買うのがお勧めです。</p>
</div>

<div class="list2">
<figure class="up">
<a href="https://www.google.com/search?q=ZERO+EXPERT+%E7%94%9F%E5%88%86%E8%A7%A3%E6%80%A7%E3%83%90%E3%82%A4%E3%82%AABB%E5%BC%BE0.2&oq=ZERO+EXPERT+%E7%94%9F%E5%88%86%E8%A7%A3%E6%80%A7%E3%83%90%E3%82%A4%E3%82%AABB%E5%BC%BE0.2&aqs=chrome..69i57.4746j0j9&sourceid=chrome&ie=UTF-8">
    <img src="{% static 'img/vsr-10.jpeg' %}">
    <figcaption>ZERO EXPERT 生分解性バイオBB弾<br>0.20g 900g/約4500発入</figcaption>
</a>
</figure>
<div class="text">
<h4>ZERO EXPERT 生分解性バイオBB弾<br>0.20g 900g/約4500発入</h4>
<ul class="pass">
    <a href='https://www.amazon.co.jp/gp/product/B077GN5YDJ/?tag=sabage05-22'>
        <div class="box">
            <li>Amazon</li>
        </div>
    </a>
    <a href="https://item.rakuten.co.jp/mokei-paddock/100943/">
        <div class="box">
            <li>楽天市場</li>
        </div>
    </a>
    <a href="https://www.first-jp.com/items/03/01/01/detail.php?itemcode=0301TMJ00023">
        <div class="box">
            <li>First</li>
        </div>
    </a>
</ul>
</div>
</div>
<div class="Explanation_rust">
    <p class="Explanation2"></p>
    <p class="Explanation3">この弾の特徴はなんと言ってもコスパの良さです。東京マルイから出ている同じ0.2gのバイオBB弾が5000発で2300円程度なのに対し、このZEROは4500発で1500円弱という圧倒的な安さを誇っています。また、より精度の要求される射撃シーンを想定されていて、命中精度にも拘られています。</p>
</div>
<div>
    <h4 class=postscript></h4>
</div>

</section>

<section>

<h2>What's New<span>お知らせ</span></h2>

<dl id="new">
<dt>2021/12/02</dt>
<dd>tp_cafe17配布開始。</dd>
<dt>20XX/00/00</dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
<dt>20XX/00/00</dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
<dt>20XX/00/00</dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
<dt>20XX/00/00</dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
</dl>

</section>

</main>

<footer>
<ul class="icon">
<li><a href="#"><img src="{% static 'img/icon_facebook.png' %}" alt="Facebook"></a></li>
<li><a href="#"><img src="{% static 'img/icon_twitter.png' %}" alt="Twitter"></a></li>
<li><a href="#"><img src="{% static 'img/icon_instagram.png' %}" alt="Instagram"></a></li>
<li><a href="#"><img src="{% static 'img/icon_youtube.png' %}" alt="YouTube"></a></li>
<li><a href="#"><img src="{% static 'img/icon_line.png' %}" alt="LINE"></a></li>
</ul>
<small>Copyright&copy; <a href="index.html">Sample Cafe</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#container-->

<!--メインメニュー-->
<nav id="menubar">
<ul>
<li><a href="{% url 'restaurant:index' %}">Home<span>ホーム</span></a></li>
<li><a href="{% url 'restaurant:index2' %}">About<span>お店について</span></a></li>
<li><a href="{% url 'restaurant:access' %}">Cafe Menu<span>メニューのご紹介</span></a></li>
<li><a href="url 'access.html'">Access<span>アクセス</span></a></li>
</ul>
</nav>

<!--アニメーションロゴ-->
<img id="svg-logo" src="{% static 'img/logo1.png' %}">


<!--jQueryファイルの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--スライドショー（vegas）-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.5.4/vegas.min.js"></script>
<script src="{% static 'js/vegas.js' %}"></script>

<!--スライドショー（slick）-->
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'js/slick.js' %}"></script>

<!--パララックス（inview）-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
<script src="{% static 'js/jquery.inview_set.js' %}"></script>

<!--メニュー開閉用のスクリプト-->
<div id="menubar_hdr"></div>
<script src="{% static 'js/openclose_tp.js' %}"></script>

<!--ページの上部へ戻るボタン-->
<p class="pagetop"><a href="#">↑</a></p>
<!-- ロゴアニメーション（vivus） -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.6/vivus.min.js"></script>
<script>
new Vivus('svg-logo', {
start:'autostart',
type: 'scenario-sync',
duration: 100,
forceRender: false,
});
</script>

</body>
</html>



<!--　　　　  ／⌒ヽ
  ⊂二二二二（　＾ω＾）二二二二⊃
　　　　　　|　　　 / 　　　　　　ﾌﾞｰﾝ
　　 　　　 （　ヽノ
　　　　　　 ﾉ>ノ
　 三三　 　レﾚ               -->

